<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/UFPS_Logo.png" alt="logo">
                <h1>UFPS - ING. SISTEMAS</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Personas' : ''"
                nzMatchRouter routerLink="/dashboard/main">
                <span nz-icon nzType="dashboard"></span>
                <span>Dashboard</span>
            </li>

            <li nz-submenu nzOpen nzTitle="Personas" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dashboard/estudiantes">Estudiantes</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dashboard/docentes">Docentes</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzOpen nzTitle="Materias" nzIcon="book">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dashboard/materias">Todas</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dashboard/mis_materias">Mis Materias</a>
                    </li>
                </ul>
            </li>

            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Personas' : ''"
                nzMatchRouter routerLink="/dashboard/proyecto/my_projects">
                <span nz-icon nzType="project"></span>
                <span>Proyectos</span>
            </li>

        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="header-logout">
            <div class="app-header mini-box">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
            </div>
            <div class="mini-box">
                .
            </div>
            <div class="mini-box2 log-out">
                <div class="avatar">
                    <a nz-dropdown [nzDropdownMenu]="menu">
                        <p-chip style="display: flex !important;" label="{{namePerson | titlecase}}" image="{{img}}" styleClass="mr-2 dflex"></p-chip>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <a nz-menu-item routerLink="/dashboard/persona/{{mail}}/editProfile">Editar Perfil</a>
                            <li nz-menu-item nzDanger (click)="logOut()">Cerrar Sesión</li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>