<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <nz-page-header nzBackIcon [nzGhost]="false">
            <nz-page-header-title>{{title}}</nz-page-header-title>
            <nz-page-header-subtitle>Listado de docentes registrados en el sistema</nz-page-header-subtitle>
            <nz-page-header-extra>
                <nz-space>
                    <!-- TODO: POR EL MOMENTO NO SE QUE OPCIONES COLOCAR AQUI -->
                    
                </nz-space>
            </nz-page-header-extra>
        </nz-page-header>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>

            <ng-template #content>
                <!-- !COLOCAR UN TITULO -->
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-6">
                            <form [formGroup]="formInfoGroup">
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">ID Grupo</label>
                                  <input type="text" formControlName="id" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Grupo</label>
                                  <input type="text" formControlName="name" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Nombre Materia</label>
                                    <input type="text" formControlName="subject" class="form-control" id="exampleInputPassword1">
                                  </div>
                                
                                  <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Código Materia</label>
                                    <input type="text" formControlName="code" class="form-control" id="exampleInputPassword1">
                                  </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                        <div class="col-6">
                            Aqui voy a colocar el template
                        </div>
                    </div>
                    
                </div>
            </ng-template>
        </div>
    </div>
</div>