<div class="base">

    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-result nzStatus="info" nzTitle="Cargando Mis Materias..." nzSubTitle="Espera un momento">
                <div nz-result-extra>
                    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
                </div>
            </nz-result>
        </div>

        <ng-template #content>
            <nz-result *ngIf="mySubjects.length === 0; else info" nzStatus="404"
                nzTitle="No Tienes Materias Matriculadas Aún">
            </nz-result>

            <ng-template #info>
                <p-table [value]="mySubjects" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    selectionMode="single" [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10, 25, 50]" [scrollable]="true" scrollHeight="370px"
                    [virtualScroll]="true" [virtualScrollItemSize]="46">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre
                                <p-columnFilter field="names" display="menu" [showOperator]="true"></p-columnFilter>
                            </th>
                            <th>
                                Codigo
                                <p-columnFilter field="code" display="menu" [showOperator]="true"></p-columnFilter>
                            </th>
                            <th>Grupo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-subject>
                        <tr>
                            <td>
                                {{subject.group.subject.name | titlecase}}
                            </td>
                            <td>{{ subject.group.subject.code }}</td>
                            <td>{{ subject.group.name}}</td>
                            <td>
                                <div class="state">
                                    <div *ngIf="subject.state === 'cancelled' ">
                                        <p-tag icon="pi pi-times" severity="danger" value="Cancelada"></p-tag>
                                    </div>

                                    <div *ngIf="subject.state === 'in progress' ">
                                        <p-tag styleClass="mr-2" icon="pi pi-hourglass" severity="primary"
                                            value="En Proceso"></p-tag>
                                    </div>

                                    <div *ngIf="subject.state === 'approved' ">
                                        <p-tag styleClass="mr-2" icon="pi pi-check" severity="success"
                                            value="Aprovada"></p-tag>
                                    </div>
                                </div>
                            </td>
                            <td class="actions">

                                <ng-container *ngIf="subject.state === 'in progress'">
                                    <p-button label="Ver" icon="pi pi-eye"
                                        styleClass="p-button-sm p-button-raised p-button-primary"
                                        routerLink="/dashboard/personas/{{subject.group.subject.name}}/{{subject.group.name}}/{{subject.group.id}}"></p-button>
                                </ng-container>

                                <ng-container *ngIf="subject.state !== 'cancelled'">
                                    <p-button label="Cancelar" icon="pi pi-times"
                                        styleClass="p-button-sm p-button-raised p-button-danger"
                                        (click)="cancel(subject.group.id, 'cancelled')">
                                    </p-button>
                                </ng-container>


                                <ng-container *ngIf="subject.state === 'cancelled'">
                                    <p-button label="Matricular" icon="pi pi-check"
                                        styleClass="p-button-sm p-button-raised p-button-help"
                                        (click)="cancel(subject.group.id, 'in progress')"></p-button>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </ng-template>
    </div>
</div>