<div class="base">

    <div class="site-page-header-ghost-wrapper">
        <nz-page-header nzBackIcon [nzGhost]="false">
            <nz-page-header-title>{{title}}</nz-page-header-title>
            <nz-page-header-subtitle>Listado de mis materias matriculada</nz-page-header-subtitle>
        </nz-page-header>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Materia</th>
                            <th class="text-center">Grupo</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subject of mySubjects">

                            <td>{{subject.group.subject.code}}</td>
                            <td>{{subject.group.subject.name| titlecase}}</td>
                            <td>{{subject.group.name| titlecase}}</td>
                            <td>
                                <div class="state">
                                    <div *ngIf="subject.state === 'cancelled' ">
                                        <nz-tag nzColor="#cd201f">
                                            <span nz-icon nzType="close-circle"></span>
                                            <span>Cancelada</span>
                                        </nz-tag>
                                    </div>

                                    <div *ngIf="subject.state === 'in progress' ">
                                        <nz-tag nzColor="#3b5999">
                                            <span nz-icon nzType="sync" nzSpin></span>
                                            <span>En Proceso</span>
                                        </nz-tag>
                                    </div>

                                    <div *ngIf="subject.state === 'approved' ">
                                        <nz-tag nzColor="#609966">
                                            <span nz-icon nzType="check-circle"></span>
                                            <span>Aprovada</span>
                                        </nz-tag>
                                    </div>
                                </div>
                            </td>
                            <td class="actions">
                                <button nz-button nzType="primary" [disabled]="subject.state === 'cancelled' || subject.state === 'approved'" routerLink="/dashboard/personas/{{subject.group.subject.name}}/{{subject.group.name}}/{{subject.group.id}}">Ver</button>
                                <button nz-button nzType="primary" nzDanger (click)="cancel(subject.group.id)" [disabled]="subject.state === 'cancelled'">Cancelar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>