<div class="base">
  <div class="site-page-header-ghost-wrapper">
    <div class="card flex justify-content-center">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
  </div>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Cargar Imagen De Perfil" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form [formGroup]="formTemplate">
        <div class="mb-3">
          <input formControlName="template" (change)="sendTemplate($event)" class="form-control" type="file"
            id="formFile">
        </div>
      </form>
    </ng-container>
  </nz-modal>

  <div class="box-info">
    <div class="loading" *ngIf="loading; else content">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div>
      <ng-template #content>
        <div class="container">
          <div class="row">
            <div class="col-4 info-img">
              <div>
                <div class="img" *ngIf="person.img; else content">
                  <img [src]="person.img" alt="" />
                </div>
                <ng-template #content class="img">
                  <div class="img">
                    <img
                      src="https://res.cloudinary.com/dmaqkkeno/image/upload/v1679972910/ayd-folder-pruebas/imagen-perfil-sin-foto_fpmrc2.jpg"
                      alt="" />
                  </div>
                </ng-template>

                <div class="names-person">
                  <h2 style="color: white;">
                    {{ person.names | titlecase }}
                    {{ person.lastnames | titlecase }}
                    <div class="mt-2">
                      <p-button (click)="showModal()" label="Subir Imagen" icon="pi pi-upload" type="file"
                        styleClass="p-button-sm p-button-raised p-button-help"></p-button>
                    </div>
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-8 info-text">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Correo Institucional</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.institutional_mail}}">
                  </div>
                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.names}} {{person.lastnames}}">
                  </div>

                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Código</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.code}}">
                  </div>
                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Documento</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.num_document}}">
                  </div>

                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Rol</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.role.name}}">
                  </div>
                  <div class="col-6 field">
                    <label for="exampleInputEmail1" class="form-label">Tipo De Documento</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      disabled value="{{person.document_type.name}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Aquí puedes agregar el contenido que deseas mostrar cuando isLoading es false -->
      </ng-template>
    </div>
  </div>
</div>


<div class="loading-overlay" *ngIf="chargeImg">
  <div class="loading-spinner">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
