<div class="base">
  <div class="site-page-header-ghost-wrapper">
    <div class="card flex justify-content-center">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
  </div>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Cargar Imagen De Perfil" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form [formGroup]="formTemplate">
        <div class="mb-3">
          <input formControlName="template" (change)="sendTemplate($event)" class="form-control" type="file"
            id="formFile">
        </div>
      </form>
    </ng-container>
  </nz-modal>

  <div class="box-info">
    <div class="loading" *ngIf="loading; else content">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div>
      <ng-template #content>
        <div class="container">
          <div class="row">
            <div class="col-4 info-img">
              <div>
                <div class="img" *ngIf="person.img; else content">
                  <img [src]="person.img" alt="" />
                </div>
                <ng-template #content>
                  <div class="img">
                    <img src="https://res.cloudinary.com/dmaqkkeno/image/upload/v1679972910/ayd-folder-pruebas/imagen-perfil-sin-foto_fpmrc2.jpg" alt="" />
                  </div>
                </ng-template>
                
                <div class="names-person">
                  <h2>
                    {{ person.names | titlecase }}
                    {{ person.lastnames | titlecase }}
                    <div class="mt-2">
                      <p-button (click)="showModal()" label="Subir Imagen" icon="pi pi-upload" type="file"
                        styleClass="p-button-sm p-button-raised p-button-help"></p-button>
                    </div>
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-8 info-text">
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext" pInputText />
                  <label for="inputtext">InputText</label>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input formControlName="" type="text" id="inputtext-left" pInputText />
                  <label for="inputtext-left">Apellidos</label>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label p-input-icon-right">
                  <i class="pi pi-spin pi-spinner"></i>
                  <input type="text" id="inputtext-right" pInputText />
                  <label for="inputtext-right">Right Icon</label>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Aquí puedes agregar el contenido que deseas mostrar cuando isLoading es false -->
      </ng-template>
    </div>
  </div>
</div>