<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <ng-template #content>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <p-button label="Cerrar Grupo" icon="pi pi-warning" (onClick)="closeGroup()"
                        styleClass="p-button-sm p-button-danger"></p-button>

                </ng-template>
                <ng-template pTemplate="right">
                    <nz-space>
                        <p-button label="Proyectos" icon="pi pi-folder-open"
                            routerLink="/dashboard/proyectos/{{subject}}/{{group}}/{{id}}"
                            styleClass="p-button-sm p-button-raised p-button-help"></p-button>

                        <p-button label="Tareas" icon="pi pi-file-edit" styleClass="p-button-sm p-button-warning"
                            routerLink="/dashboard/task/{{subject}}/{{group}}/{{id}}" badge="{{numTask}}"
                            badgeClass="p-badge-danger"></p-button>

                    </nz-space>
                </ng-template>
            </p-toolbar>

            <p-table [value]="persons" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                selectionMode="single" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre
                            <p-columnFilter field="names" display="menu" [showOperator]="true"></p-columnFilter>
                        </th>
                        <th>Apellidos
                            <p-columnFilter field="lastnames" display="menu" [showOperator]="true"></p-columnFilter>
                        </th>
                        <th>
                            Codigo
                            <p-columnFilter field="code" display="menu" [showOperator]="true"></p-columnFilter>
                        </th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Activo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-person>
                    <tr>
                        <td>{{person.names | titlecase}}</td>
                        <td>{{person.lastnames | titlecase}}</td>
                        <td>{{person.code}}</td>
                        <td>{{person.institutional_mail}}</td>
                        <td>
                            <div class="state">
                                <div *ngIf="person.role.name === 'docente' ">
                                    <p-tag severity="success" value="Docente"></p-tag>
                                </div>

                                <div *ngIf="person.role.name === 'estudiante' ">
                                    <p-tag styleClass="mr-2" severity="info" value="Estudiante"></p-tag>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tag" *ngIf="person.groups[0].state === 'in progress'">
                                <p-tag styleClass="mr-2" icon="pi pi-check" severity="help" value=""></p-tag>
                            </div>

                            <div class="tag" *ngIf="person.groups[0].state === 'cancelled'">
                                <p-tag styleClass="mr-2" icon="pi pi-check" severity="danger" value=""></p-tag>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </div>
</div>