<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>

            <ng-template #content>

                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombres</th>
                            <th>Foto</th>
                            <th>Correo</th>
                            <th>Codigo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons">
                            <td>{{person.names | titlecase}} {{person.lastnames | titlecase}}</td>
                            <td>
                                <img class="photo-person"
                                    src="https://photoshop-kopona.com/uploads/posts/2019-02/1549666719_landscape_4.jpg"
                                    alt="">
                            </td>
                            <td>{{person.institutional_mail}}</td>
                            <td>{{person.code}}</td>
                            <td *ngIf="person.active">
                                <div>
                                    <p-tag styleClass="mr-2" icon="pi pi-check" severity="success"
                                        value="Activo"></p-tag>
                                </div>
                            <td>
                                <p-button label="Ver" icon="pi pi-eye" styleClass="p-button-sm"
                                    routerLink="/dashboard/ver_persona/{{person.code}}"></p-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>