.botones{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10%;
    margin-bottom: 10px;
}

.box-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-group{
    width: 30%;
    margin-bottom: 20px;
}
