<div class="base">

    <!-- * HEADER -->
    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>

    <!-- * MODAL NEW SUBJECT -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Nueva Materia" (nzOnCancel)="handleCancel()"
        (nzOnOk)="registerGroupAndTeacher()">
        <ng-container *nzModalContent>
            <form autocomplete="off" [formGroup]="infoGroup">
                <div class="mb-4 row">

                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" formControlName="subject_code" [value]="id">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label class="col-sm-4 col-form-label text-end fw-bold">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="name" placeholder="nombre grupo">
                        <span class="form-text text-danger" *ngIf="validateFields('name')">
                            Nombre invalido
                        </span>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label class="col-sm-4 col-form-label text-end fw-bold">Docente:</label>
                    <div class="col-sm-8">
                        <select formControlName="person" class="form-select" aria-label="Default select example">
                            <option *ngFor="let teacher of teachers" selected value="{{teacher.id}}">{{teacher.names}}
                                {{teacher.lastnames}}</option>
                        </select>
                        <span class="form-text text-danger" *ngIf="validateFields('person')">
                            Debe seleccionar un Docente
                        </span>
                    </div>
                </div>
            </form>
        </ng-container>
    </nz-modal>


    <!-- * MAIN CONTENT -->
    <div class="box-info">
        <!-- * IF THERE ARE NO GROUPS THIS RESULT IS SHOWN -->
        <div *ngIf="groups.length === 0; else content">
            <nz-result nzStatus="warning" nzTitle="Esta materia no tiene grupos aún">
                <div nz-result-extra>
                    <button nz-button nzType="primary" (click)="showModal()">¿Asignar Grupo?</button>
                </div>
            </nz-result>
        </div>

        <ng-template #content>
            <div class="botones">
                <nz-space>
                    <!-- TODO: 👮 SOLO LO PUEDE HACER UN ADMIN -->
                    <p-button 
                            label="Agregar Grupo" 
                            icon="pi pi-plus" 
                            (click)="showModal()"
                            styleClass="p-button-sm p-button-raised p-button-success"></p-button>
                </nz-space>
            </div>

            <div class="box-cards">
                <div class="card-group" *ngFor="let group of groups">
                    <img src="https://miro.medium.com/max/700/1*bRuxpf9ZMC2QVXVJKEoS0w.png" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{subject | titlecase}}</h6>
                        <p class="card-text">Grupo - {{group.name}}.</p>
                        <p class="card-text"><b>Docente - {{group.persons[0].person.names | titlecase}}
                                {{group.persons[0].person.lastnames | titlecase}}.</b></p>
                        <button type="button" href="#" class="btn btn-success" (click)="enrollInGroup(group.id)">Matricularme</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>