.botones{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10%;
    margin-bottom: 10px;
}

.box-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-group{
    width: 30%;
    margin-bottom: 20px;
}

.big-box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    margin-bottom: 10px;
}

    .img-person{
        padding-left: 10px;
        width: 20%;
    }

        img{
            width: 100%;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

    .info-person{
        padding-left: 10px;
        width: 60%;
    }

    .actions{
        width: 20%;
    }