<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>
                <form [formGroup]="formProject" (ngSubmit)="newProject()">
                    <!-- TODO: FORMULARIO -->

                    <div class="button mt-2">
                        <button [disabled]="formProject.invalid" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>