<h1>Holaaa</h1>

<!-- <div class="base">


    <div class="site-page-header-ghost-wrapper">
        <nz-page-header nzBackIcon [nzGhost]="false">
            <nz-page-header-title>{{title}}</nz-page-header-title>
            <nz-page-header-subtitle>Listado de personas registradas en el sistema</nz-page-header-subtitle>
            <nz-page-header-extra>
                <nz-space>
                    <button *nzSpaceItem nz-button>Ver Proyectos</button>
                    <button *nzSpaceItem nz-button nzType="primary">Ver Tareas</button>
                </nz-space>
            </nz-page-header-extra>
        </nz-page-header>
    </div>

    
    <div class="box-info">
        <div *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <ng-template #content>

            <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                <thead class="table-dark">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Codigo</th>
                    <th>Rol</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons">
                    <td>{{person.names | titlecase}}</td>
                    <td>{{person.lastnames | titlecase}}</td>
                    <td>{{person.institutional_mail}}</td>
                    <td>{{person.code}}</td>
                    <td>{{person.role.name}}</td>
                    <td *ngIf="person.active">
                        <div class="tag">
                            <nz-tag class="tag-ng-zorro" [nzColor]="'#16FF00'"><small>En Proceso</small></nz-tag>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    </div>
</div> -->