<div class="base">

    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>

                <p-table [value]="projects.data.projects" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    selectionMode="single" [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10, 25, 50]" [scrollable]="true" scrollHeight="370px"
                    [virtualScroll]="true" [virtualScrollItemSize]="46">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre
                                <p-columnFilter field="names" display="menu" [showOperator]="true"></p-columnFilter>
                            </th>
                            <th>
                                Materia
                                <p-columnFilter field="code" display="menu" [showOperator]="true"></p-columnFilter>
                            </th>
                            <th>Grupo</th>
                            <th>Estado Del Proyecto</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-project>
                        <tr>
                            <td>
                                {{project.project.name| titlecase}}
                            </td>
                            <td>{{ project.project.group.subject.name | titlecase}}</td>
                            <td>{{ project.project.group.name }}</td>
                            <td>
                                <div class="state">
                                    <div *ngIf="project.project.state === 'in progress' ">
                                        <p-tag icon="pi pi-hourglass" severity="primary" value="En Proceso"></p-tag>
                                    </div>

                                    <div *ngIf="project.project.state === 'finished' ">
                                        <p-tag styleClass="mr-2" icon="pi pi-check" severity="success"
                                            value="Finalizado"></p-tag>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </div>
    </div>
</div>