<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>
                <!-- Aquí puedes agregar el contenido que deseas mostrar cuando isLoading es false -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 info-img">
                            <div>
                                <div *ngIf="person.img; else noimage">
                                    <img src="{{person.img}}" alt="">
                                </div>
                                <ng-template #noimage>
                                    <img src="https://res.cloudinary.com/dmaqkkeno/image/upload/v1679972910/ayd-folder-pruebas/imagen-perfil-sin-foto_fpmrc2.jpg"
                                        alt="">
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-8 info-text">
                            <div class="row">
                                <h5>Nombre:</h5>
                                <p-tag styleClass="mr-2" severity="primary" value="{{person.names |titlecase}} {{person.lastnames | titlecase}}"></p-tag>                                
                                <h5>Correo Institucional:</h5>
                                <p-tag styleClass="mr-2" severity="warning" value="{{person.institutional_mail}}"></p-tag>
                                <h5>Código:</h5>
                                <p-tag styleClass="mr-2" severity="info" value="{{person.code}}"></p-tag>
                                <h5>Rol:</h5>
                                <p-tag styleClass="mr-2" severity="success" value="{{person.role.name | titlecase}}"></p-tag>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>