<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <nz-page-header nzBackIcon [nzGhost]="false">
            <nz-page-header-title>{{title}}</nz-page-header-title>
            <nz-page-header-subtitle>Listado de personas registradas en el sistema</nz-page-header-subtitle>
            <nz-page-header-extra>
                <nz-space>
                    <!-- TODO: POR EL MOMENTO NO SE QUE OPCIONES COLOCAR AQUI -->
                    <!-- <button *nzSpaceItem nz-button>Ver Alumnos</button>
                    <button *nzSpaceItem nz-button nzType="primary">Ver Todos</button> -->
                </nz-space>
            </nz-page-header-extra>
        </nz-page-header>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>
                <!-- Aquí puedes agregar el contenido que deseas mostrar cuando isLoading es false -->
                <div class="container">
                    <div class="row">
                        <div class="col-4 info-img">
                            <div>
                                <!-- TODO: COLOCAR AQUI LA IMG DE LA PERSONA -->
                                <img src="https://img.freepik.com/vector-gratis/avatar-personaje-empresario-aislado_24877-60111.jpg?w=2000" alt="">
                            </div>
                        </div>
                        <div class="col-8 info-text">
                            <!-- TODO: COLOCAR AQUÍ LA INFO DE LA PERSONA -->
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>