<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>
            <ng-template #content>
                <!-- Aquí puedes agregar el contenido que deseas mostrar cuando isLoading es false -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 info-img">
                            <div>
                                <div *ngIf="person.img; else noimage">
                                    <img src="{{person.img}}" alt="">
                                </div>
                                <ng-template #noimage>
                                    <img src="https://res.cloudinary.com/dmaqkkeno/image/upload/v1679972910/ayd-folder-pruebas/imagen-perfil-sin-foto_fpmrc2.jpg" alt="">
                                </ng-template> 
                            </div>
                        </div>
                        <div class="col-8 info-text">
                            <div class="row">
                                <div class="col-6">
                                    <h5>Nombre:</h5>
                                    <p>{{person.names |titlecase}} {{person.lastnames | titlecase}}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Correo Institucional:</h5>
                                    <p>{{person.institutional_mail}}</p>
                                </div>

                                <div class="col-6">
                                    <h5>Código:</h5>
                                    <p>{{person.code}}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Rol:</h5>
                                    <p>{{person.role.name | titlecase}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>