.container {
    height: 100%;
}

.row {
    height: 100%;
}

.info-img {
    height: 400px;
    border-radius: 10px 0 0 10px;
    background-color: #F45050;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info-text {
    height: 400px;
    border-radius: 0 10px 10px 0px;
    padding: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}