.container{
    height: 100%;
}

.row{
    height: 100%;
}

.info-img{
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(to bottom, rgb(0, 251, 255), #0073ff);
    display: flex;
    justify-content: center;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.info-text{
    height: 100%;
    border-radius: 0 10px 10px 0px;
    background-image: linear-gradient(to bottom, rgb(0, 251, 255), #ff00d9);
}