<div class="base">


    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="Cargar Archivi De Entrega" (nzOnCancel)="handleCancel()"
        [nzOkDisabled]="deliveryForm.invalid" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form [formGroup]="deliveryForm">
                <div class="mb-3">
                    <input formControlName="file" (change)="sendTemplate($event)" class="form-control" type="file"
                        id="formFile">
                </div>
            </form>
        </ng-container>
    </nz-modal>



    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-result nzStatus="info" nzTitle="Cargando Tarea..." nzSubTitle="Espera un momento">
                <div nz-result-extra>
                    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
                </div>
            </nz-result>
        </div>

        <ng-template #content>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                </ng-template>

                <ng-template pTemplate="right">
                    <nz-space>
                        <div *ngIf="task.state === 'undelivered'">
                            <p-button (click)="showModal()" label="Agregar Entrega" icon="pi pi-upload" type="file"
                                styleClass="p-button-sm p-button-raised p-button-help"></p-button>
                        </div>
                    </nz-space>
                </ng-template>
            </p-toolbar>
            <div>
                <p-fieldset legend="{{task.task.name | titlecase}}">
                    <h4><b>Descripción</b></h4>
                    <p class="m-0">
                        {{task.task.description}}
                    </p>
                    <br>
                    <div style="display: flex; justify-content: start;">
                        <div class="item-info">
                            <h4><b>Fecha limite</b></h4>
                            <!-- TODO: SI LA FECHA YA SE PASO, COLOCAR UN TAG ROJO -->
                            <p class="m-0">
                                <p-badge value="{{task.task.expired_date | date}}" severity="success"></p-badge>
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: start;">
                        <div class="item-info">
                            <h4><b>Estado</b></h4>
                            <!-- TODO: SI LA FECHA YA SE PASO, COLOCAR UN TAG ROJO -->
                            <p class="m-0">
                                <p-badge value="{{task.state }}" severity="success"></p-badge>
                            </p>
                        </div>
                    </div>
                    <br>
                </p-fieldset>
            </div>
        </ng-template>
    </div>
</div>