.main{
    height: 100vh;
}

.info{
    background-image: url("https://scontent.fbga3-1.fna.fbcdn.net/v/t39.30808-6/334997987_181962081216674_3020629041767812284_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGMLLQmK4XUPy3ctNYcy62J-HyQn1znwkj4fJCfXOfCSCydrg3-S_3NWONoQg3Fo02nVBQdJown-1kSUl9kpugO&_nc_ohc=77TUiRTMumoAX9fiVbG&_nc_ht=scontent.fbga3-1.fna&oh=00_AfAPgva41AixxCvOwF2wDKpkreY6js_L4lFncA84k2e57Q&oe=641EC485");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:brown;
    position: relative;
}

.login{
    background-image: url("https://img.freepik.com/psd-gratis/diseno-fondo-abstracto_1297-82.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(255, 255, 255);
    position: relative;
}

.access{
    background: linear-gradient(rgba(255, 255, 255, 0.289), rgba(255, 255, 255, 0.523)), url("https://www.publicdomainpictures.net/pictures/380000/nahled/plain-white-background-1606139521arW.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 75px;
    border-radius: 75px;
}