<div class="base">

    <div class="site-page-header-ghost-wrapper">
        <div class="card flex justify-content-center">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>


    <nz-modal [(nzVisible)]="isVisible" nzTitle="Cargar Excel De Proyectos" (nzOnCancel)="handleCancel()"
        [nzOkDisabled]="formTemplate.invalid" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form [formGroup]="formTemplate">
                <div class="mb-3">
                    <input formControlName="template" (change)="sendTemplate($event)" class="form-control" type="file"
                        id="formFile">
                </div>
            </form>
        </ng-container>
    </nz-modal>

    <div class="box-info">
        <div class="loading" *ngIf="loading; else content">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div>

            <ng-template #content>
                <div class="botones">
                    <nz-space>
                        <!-- TODO: 👮 SOLO LO PUEDE HACER UN ADMIN -->
                        <p-button label="Proponer Proyecto" icon="pi pi-plus"
                            routerLink="/dashboard/proyecto/agregar/{{subject_name}}/{{group_name}}/{{group_id}}"
                            styleClass="p-button-sm p-button-raised p-button-warning"></p-button>

                        <p-button (click)="showModal()" label="Cargar Proyectos" icon="pi pi-upload" type="file"
                            styleClass="p-button-sm p-button-raised p-button-success"></p-button>

                        <p-button (click)="downloadFile()" label="Descargar Plantilla" icon="pi pi-file-excel"
                            styleClass="p-button-sm p-button-raised p-button-primary"></p-button>
                    </nz-space>
                </div>
                
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th># Estudiantes</th>
                            <th>Cupos Disponibles</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projects">
                            <td>{{project.name | titlecase}}</td>
                            <td>{{project.description}}</td>
                            <td>{{project.number_of_students}}</td>
                            <td>
                                <div class="tag"
                                    *ngIf="project.registeredPersons === project.number_of_students || project.state === 'finished'; else disponibilidad">
                                    <p-tag styleClass="mr-2" icon="pi pi-times" severity="danger"
                                        value="No Disponible"></p-tag>
                                </div>
                                <ng-template class="tag" #disponibilidad>
                                    <p-tag styleClass="mr-2" icon="pi pi-check" severity="success"
                                        value="{{project.number_of_students - project.registeredPersons}} Disponible"></p-tag>
                                </ng-template>
                            </td>
                            <td>
                                <div class="tag" *ngIf="project.state === 'in progress'">
                                    <p-tag styleClass="mr-2" icon="pi pi-hourglass" severity="warning"
                                        value="En Desarrollo"></p-tag>
                                </div>
                                <div class="tag" *ngIf="project.state === 'on hold'">
                                    <p-tag styleClass="mr-2" icon="pi pi-stopwatch" severity="danger"
                                        value="En Espera"></p-tag>
                                </div>
                                <div class="tag" *ngIf="project.state === 'finished'">
                                    <p-tag styleClass="mr-2" icon="pi pi-flag-fill" severity="success"
                                        value="Finalizado"></p-tag>
                                </div>
                                <div class="tag" *ngIf="project.state === 'to start'">
                                    <p-tag styleClass="mr-2" icon="pi pi-flag-fill" severity="success"
                                        value="Por Iniciar"></p-tag>
                                </div>
                            </td>
                            <td>
                                <p-button label="Ver" icon="pi pi-eye" styleClass="p-button-sm"
                                    routerLink="/dashboard/proyecto/{{subject_name}}/{{group_name}}/{{group_id}}/{{project.id}}"></p-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>