/* You can add global styles to this file, and also import other style files */

/* * BASE DE CADA VISTA DEL MAIN-DASHBOARD */

.base {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 5px black;
    height: 100%;
    border-radius: 10px;
}

.site-page-header-ghost-wrapper {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box-info {
    overflow: auto;
    scrollbar-width: thin;
    padding: 10px;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* PERSONALIZAR EL SCROLL */
.box-info::-webkit-scrollbar {
    width: 6px;
}

.box-info::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    /* para establecer el color del contenedor de la barra de scroll */
}

.box-info::-webkit-scrollbar-thumb {
    background-color: #00152a;
    /* para establecer el color de la barra de scroll */
    border-radius: 3px;
    /* para agregar bordes redondeados */
}
/* PERSONALIZAR EL SCROLL */

.tag {
    display: flex;
    justify-content: center;
}

.tag-ng-zorro {
    color: black;
    font-size: 12px;
}

nz-spin {
    display: inline-block;
    margin-right: 16px;
}