.button{
    display: flex;
    justify-content: center;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

img{
    width: 120px;
}

/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding:center;
    padding-top: 20px;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1.75rem 0 0;
    }

        ul.icons li:last-child {
            padding-right: -1;
        }